@model StudyRate.Domain.Entities.Group

@{
    ViewData["Title"] = "Група | StudyRate";
}

<div id="content">
    <h2>Видалити</h2>

    <h3>Впевнені, що хочете видалити запис?</h3>
    <div>
        <h4>Група</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.YearOfEntering)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.YearOfEntering)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Specialty)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Specialty.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            <a asp-action="Index">Попередня сторінка</a>
        </form>
    </div>
</div>
